.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  padding: 1rem;
  border: solid;
}
.list-item {
  box-shadow: 0 0 0 2px #107ab0;
  padding: 1rem;
  margin: 1rem;
}
